.right{
  width:25%;
  float:left;
  padding-left:1em;
  overflow:visible;
  position: sticky;
  top:0;
}

.musikbox{
  display:inline-block;
  border:1px solid red;
  padding:1em;
  margin:0.2em;
}

.musikbox h3{
  padding-top:0.5em;
  margin-top:0;
  text-decoration: underline;
}

.sitemap a{
  color: white;
}

.sitemap a:hover{
  color:#00adad;
}

.banner{
  color:white;
  border: 1px solid orange;
  margin: 0.5em;
  padding: 0.5em;
  text-align:center;
}

#sitemap-banner{
  /*color:white;*/
  /*border: 1px solid blue;
  margin: 0.5em;
  padding: 0.5em;
  text-align:center;
  display:none;*/
  display:none;
}

@media screen and (max-width: 1080px) {
  .left, .right {   
    width: 100%;
    padding: 0;
    position:unset;
  }
  #sitemap-banner{
    display: block;
  }
  .right{
    display:none;
  }
}

@media screen and (max-width: 666px) {
  iframe {   
    width: 100%;
    height: 300px;
  }
}

/*-----------------experiments ----------------------------*/

.moving_bar_open{
  position: fixed;
  top:0;
  left:0;
  margin:0;
  width:100%;
  animation-name: open;
  animation-duration: 1s;
}

@keyframes open{
  0%{top:-5em}
  100%{top:0}
}

@keyframes close{
  0%{top:0; display:unset}
  99%{display:none}
  100%{top:-5em}
}

.moving_bar_close{
  position: fixed;
  display:none;
  top:-5em;
  left:0;
  margin:0;
  width:100%;
  animation-name: close;
  animation-duration: 1s;
}

#moving_bar{
  display:none;
}

#moving_bar_title{
  background-color:aqua;
  text-align:center;
  border: 2px solid red;
  margin-left: 8px;
  margin-right: 8px;
}

#moving_bar_title p{
  margin:0;
  font-size:2em;
}

.moving_bar_navbar{
  background-color: yellow;
  text-align:left;
  margin-left:8px;
  margin-right: 8px;
}

.moving_bar_navbar a{
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1px solid gray;
  color:red;
  text-decoration: none;
}

moving_bar_navbar a:hover{
  background-color:rgba(95, 95, 31, 0.562);
}
