html{
  margin:0;
  background-color: black;
}

button{
  cursor:pointer;
}

body{
    margin:0;
}

*{
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*IF SCREEN SIZE*/
@media screen and (max-width: 650px) {

}

#compatibility_mode{
  position: fixed;
  z-index: 999;
  left: 10px;
  bottom: 10px;
  font-family: calibri;
  color: white;
  background-color: #1e0000d4;
  font-weight: bold;
  padding: 3px;
  border-radius: 8px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #compatibility_mode{
      display: none;
  }
}