.card_dark{
    background-color: #00000096 !important;
    color:white !important ;
    border-color: /*gray*/ #212121!important;
}

.card_light{
    background-color: #ffffff47 !important;
    color: black !important;
    border-color: lightgray;
}

#blende{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#00000063;
}