#newslist{
    padding:0;
}

.news_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news_title{
    margin-top:0;
}

.news_summary{
    background-color: orange;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.news_summary > h2{
    margin-top:0;
}

.news_content{
}