#r_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
}

#r_result_container{
    grid-column: 1 / span 6;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}

.r_numbut{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
}

.r_numbut:hover{
    background-color: rgb(55, 55, 26);
}

.r_funcbut{
    padding: 10px;
    border: 1px solid brown;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r_funcbut:hover{
    background-color: rgb(55, 55, 26);
}