.left{
  /*width: 100%;*/
  text-align:center;
}

.right{
  position:sticky;
}

button{
  cursor: pointer;
  margin-top:1em;
  font-size: 1.5em;
  background-color:gray;
  border: 1px solid red;
}

input{
  text-align:center;
  font-size:1.5em;
  width:6em;
  background-color:gray;
  border: 1px solid black;
}

.art{
  background-color:lightgray;
}

.wahl{
  margin-bottom:0.5em;
  margin:0;
}

#number{
  width:4em;
}

#passwort{
  color:red;
  border: 1px solid green;
  padding:0.5em;
  font-size:2em;
  margin-top:0;
  display:none;
  background-color:black;
  text-align:center;
}

#fertig{
  display:none;
}

@media screen and (max-width: 512px) {
  button{
    margin:1em;
    font-size: 1.5em;
    background-color:gray;
    border: 1px solid red;
  }
  input{
    text-align:center;
    font-size:1.5em;
    width:6em;
    background-color:gray;
    border: 1px solid black;
  }
  .art{
    background-color:lightgray;
  }
  .wahl{
    margin:0;
    margin-bottom:1em;
  }
}

